/* Existing Styles */
#LogotipoHeader {
    width: 20%;
    height: 20%;
}

#header {
    padding: 20px;
}

#LogotipoFooter {
    width: 20%;
    height: 20%;
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-bottom: 20px; 
}

.footer-links a {
    color: #000;
    text-decoration: none;
    margin: 0 20px; 
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-divider {
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
}

.social-icons {
    margin-top: 20px; 
}

.social-icons a {
    color: #007bff;
    font-size: 24px;
    margin: 0 15px; 
    border: 2px solid #007bff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    background-color: #007bff;
    color: #fff;
}

/* New Styles for Country Details Page */
.details-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: 20px auto; /* Centering and spacing */
}

.country-flag {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #555;
}

strong {
    color: #000;
}
